#Fichero de configuración de la aplicación, él cual se pueden modificar algunos parámetros para la funcionalidad de la aplicación
#Un ejemplo de valor pathsavedata puede ser \"data\ferntickets no de ve llevar barra invertida en el último file
#-> pathsavedata el parámetro es donde se guardara todos los datos de log, sesión, El valor por defecto es ".",
#   Un ejemplo de valor: \data\ferntickets no de ve llevar barra invertida en el último file
#   nota: todo el los directorio debe estar en minuscula
#-> userguest sirve para poner por defecto que un usuario pueda hacer login sin hacer login, valor por defecto es false
#-> idsendtelegram el parámetro funciona para poner a donde se envían el mensaje por Telegram el id del Telegram
#-> bottelegram el parámetro funciona para poner la api de la mensajería del Telegram
#-> emailsender el email el cual se envian las notificaciones
#-> emailpassword es el password del email en el cual se envian los email
#
#Wed May 25 16:49:10 CEST 2022
userguest=false
emailpassword="######### Email PASSWORD########"
idsendtelegram=1963697995
pathdata=PATHROUTE
bottelegram="######### TELEGRAM CODE  ########"
emailsender="######### Email HERE ########"
